<mat-toolbar color="primary">
  <span>Yet another SHACL playground</span>
  <div>

    <mat-button-toggle-group>
      <mat-button-toggle (click)="layout = 1" [checked]="true"><img src="assets/layouts/1.svg"></mat-button-toggle>
      <mat-button-toggle (click)="layout = 2"><img src="assets/layouts/2.svg"></mat-button-toggle>
      <mat-button-toggle (click)="layout = 3"><img src="assets/layouts/3.svg"></mat-button-toggle>
      <mat-button-toggle (click)="layout = 4"><img src="assets/layouts/4.svg"></mat-button-toggle>
      <mat-button-toggle (click)="layout = 5"><img src="assets/layouts/5.svg"></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-toolbar>



<div class="editors layout{{layout}}">
  <mat-card class="data-card">
    <mat-card-header>
      <mat-card-title>Data</mat-card-title>
      <mat-card-subtitle>in turtle format</mat-card-subtitle>
      <div>
        <button mat-stroked-button (click)="dataFileInput.click()">
          <mat-icon>cloud_upload</mat-icon> File
        </button>
        <input #dataFileInput type="file" (change)="setDataFile($event)" class="d-none">
      </div>
    </mat-card-header>
    <mat-card-content mat-card-image>
      <ngx-codemirror [(ngModel)]="textData" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'turtle'
        }">
      </ngx-codemirror>
    </mat-card-content>
  </mat-card>



  <mat-card class="shapes-card">
    <mat-card-header>
      <mat-card-title>Shapes</mat-card-title>
      <mat-card-subtitle>in SHACL format</mat-card-subtitle>
      <div>
        <button mat-stroked-button (click)="shapesFileUpload.click()">
          <mat-icon>cloud_upload</mat-icon> File
        </button>
        <input #shapesFileUpload type="file" (change)="setShapesFile($event)" class="d-none">
      </div>
    </mat-card-header>
    <mat-card-content mat-card-image>
      <ngx-codemirror [(ngModel)]="textShapes" [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'turtle'
        }">
      </ngx-codemirror>
    </mat-card-content>
  </mat-card>


  <mat-card class="results-card">
    <mat-card-header>
      <mat-card-title>Results
        <mat-button-toggle *ngIf="graph" (click)="resultsAsShacl = !resultsAsShacl">
          <mat-icon>code</mat-icon> graph results
        </mat-button-toggle>
      </mat-card-title>
      <button mat-raised-button color="accent" (click)="validate()">
        <mat-icon *ngIf="resultsText === undefined && !validating">play_arrow</mat-icon>
        <mat-spinner [diameter]="20" class="d-inline-block" *ngIf="validating">play_arrow</mat-spinner>
        <mat-icon *ngIf="resultsText !== undefined && !validating">replay</mat-icon>
        Validate (F5)
      </button>
    </mat-card-header>
    <mat-card-content mat-card-image>
      <pre *ngIf="!resultsAsShacl">{{resultsText}}</pre>
      <pre *ngIf="resultsAsShacl">{{graph}}</pre>
    </mat-card-content>
  </mat-card>
</div>
