mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.editors {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 60% 40%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px 0px 0;
  width: calc(100% - 0px);
  height: calc(100% - 20px - 10px - 64px);

  ngx-codemirror {
    display: block;
    flex-grow: 1;

  }



  mat-card {
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

    mat-card-header {
      display: flex;
      justify-content: space-between;
    }

    mat-card-content {
      flex-grow: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

  }

  .divider {
    cursor: col-resize;
    display: flex;
    justify-content: center;
  }
}


.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.results-card {
  mat-card-content {
    background: #263238;

    pre {
      padding: 10px;
    }
  }

  mat-card-header {
    align-items: center;
    margin-bottom: 16px;
  }

  mat-card-title {
    margin-bottom: 0;
  }
}

/*
*
*   Layouts
*/

.layout1 {
  .data-card {}

  .shapes-card {}

  .results-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.layout2 {
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);

  .results-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.layout3 {
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);

  .results-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.layout4 {
  grid-template-rows: 30% 70%;

  .results-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}


.layout5 {

  grid-template-rows: 33% 33% 33%;
  height: calc(100% - 20px - 13px - 64px);

  .data-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .shapes-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .results-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}



// mat btns hacks

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}

mat-button-toggle {
  ::ng-deep .mat-button-toggle-label-content {
    line-height: 37px;
  }

  img {
    width: 24px;
  }
}
