/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-dialog {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  // left: 0;
  right: 0;
  height: 40px;
  z-index: 999;
  padding: 5px 10px;
}
